* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    margin: 0; 
}

#wrapper-portfolio {
    background-color: #FFFDFD;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.title {
    margin-bottom: 30px;
}
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.presentation img {
    border-radius: 100px;
}

.competences {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}

.competence {
    display: flex;
    flex-direction: column;

}

.competences-title {
    margin-bottom: 30px;
}

.competences {
    margin-bottom: 30px;
}

.projets-title {
    margin-top: 30px;
}

.projets {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.projet h3, small {
    display: flex;
    justify-content: center;
}

.projet img {
    height: 400px;
    width: 400px;
}

.projet p {
    display: none;
}

.contact {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact li {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.contact i {
    font-size: 20px;
}
