/* 
=================================================================
=========================BASE==================================
=================================================================
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #e0e0e0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}



#wrapper-portfolio {
    width: 100%;
    min-height: 100vh;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px; 

}

.fade-in {
opacity: 0;
transform: translateY(20px);
transition: all 0.8s ease-out;
}

.fade-in.visible {
opacity: 1;
transform: translateY(0);
}

  /* 
=================================================================
=========================PRESENTATION==================================
=================================================================
 */
  


.title {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
}

.title strong {
color: #8e2de2;
font-weight: 300;
}

.presentation {
display: flex;
margin-bottom: 30px;
flex-direction: row-reverse;
width: 80%;
justify-content: space-around;
margin-top: 30px;


}

.presentation-text {
display: flex;
flex-direction: column;
gap: 1rem; 
max-width: 60%;
}

.presentation-text p {
    font-size: 18px;
}


.presentation img {
    border-radius: 200px;
    box-shadow:
    0 0 8px #a259ff,
    0 0 16px #a259ff,
    0 0 24px #a259ff;
    height: 250px;
    width: 250px;
}

/* 
=================================================================
=========================COMPETENCES==================================
=================================================================
 */

.competences {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.competence {
    display: flex;
    flex-direction: column;

}

.competences-title {
    margin-bottom: 30px;
    margin-top: 100px;
    font-weight: 300;
}

.competences-title strong {
    color: #8e2de2;
}

.competences ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.competence {
    display: flex;
    width: 350px;
    height: 350px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(177, 138, 227, 0.2);
}



.competence h3 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.competences {
    margin-bottom: 70px;
}

.btn-download {
    border: 1px solid #a259ff;
    padding: 15px 10px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    
}

.btn-download:hover {
    background-color: #8e2de2;
}

.btn-download a {
    text-decoration: none;
}

/* 
=================================================================
=========================PROJETS==================================
=================================================================
 */


.projets-title {
    margin-top: 100px;
    margin-bottom: 20px;
}

.projets {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.projet-row {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.projet h3, small {
    display: flex;
    justify-content: center;
}

.projet h3 {
    padding-bottom: 20px;
}

.projet h3 a {
    text-decoration: none;
    color: #8e2de2;
}

.projet h3 a:hover {
    text-decoration: underline;
}

.projet img {
    height: 400px;
    width: 400px;
}

.projet p {
    display: none;
}

/* 
=================================================================
=========================CONTACT==================================
=================================================================
 */


.contact {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact li {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.contact i {
    font-size: 20px;
}
